
.logo {
    position: absolute;
    width: 91px;
    height: 93px;
    top: 10px;
    float: left;
}

.logo-name {
    position: absolute;
    left: 126px;
    top: -11px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #333652;
}

.tag {
    position: absolute;
    left: -1px;
    top: 43px;
    font-size: 25px;
    font-weight: normal;
    color: #90ADC6;

}

.home > nav {
    position: absolute;
    left: 78%;
}

.home > nav > p {
    float: left;
    margin-left: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Neuton', serif;
    font-size: 23px;
}

.home > nav > p:hover {
    cursor: pointer;
    font-weight: bold;
    color: #90ADC6;
    text-decoration: underline #FAD02C solid;
}

.box:hover {
    background-color: #333652;
    width: 125px;
    height: 35px;
    text-align: center;
}

.dark {
    position: absolute;
    top: 76px;
    left: 93.3%;
}

.dark-icon {
    position: absolute;
    top: 10px;
    left: 3%;
    width: 26px;
    height: 29px;
    cursor: pointer;
}

.png-bg {
    position: absolute;
    width: 918px;
    height: 1034px;
    top: 4px;
    z-index: 1;
}

.Name-set {
    position: absolute;
    top: 182px;
    left: 409px;
    z-index: 2;

}

.Name {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 60px;

}

.tag-line {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 39px;
    top: -67px;
    left: 169px;

}

.pro-pic {
    position: absolute;
    z-index: 3;
    width: 262px;
    height: 260px;
    top: 387px;
    left: 578px;
}

.sqr-one {
    position: absolute;
    width: 268px;
    height: 270px;
    background-color: #90ADC6;
    border-radius: 42px;
    top: 378px;
    left: 568px;
    z-index: 2;

    transition-property: all;
    transition: 0.5s ease;

}

.sqr-one:hover {
    background-color: #FAD02C;

}

.sqr-two:hover {
    background-color: #90ADC6;
}

.sqr-two {
    position: absolute;
    width: 256px;
    height: 262px;
    background-color: #FAD02C;
    border-radius: 42px;
    top: 394px;
    left: 594px;
    z-index: 2;
    transition: 0.5s ease;

}

.para {
    position: absolute;
    color: #565C62;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 30px;
    width: 698px;
    height: 84px;
    top: 647px;
    left: 390px;
    text-align: -webkit-center;
    z-index: 2;
}

.arr {
    position: absolute;
    width: 115px;
    height: 114px;
    background-color: #FFECA0;
    top: 462px;
    left: 1322px;
    border-radius: 65px;
    opacity: 80%;
    cursor: pointer;

}

.arr:hover {
    opacity: 100%;
}

.arr-png {
    position: absolute;
    width: 73px;
    height: 42px;
    top: 36px;
    left: 17px;
}


.down-cv {
    position: absolute;
    top: 790px;
    left: 402px;
    z-index: 3;
    width: 148px;
    height: 35px;
    background-color: #FAD02C;
    border: transparent;


    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding-top: -21px;

    transition-property: all;
}

.Hire-me {
    position: absolute;
    top: 789px;
    left: 580px;
    z-index: 3;
    width: 148px;
    height: 35px;
    background-color: white;
    border: solid #FAD02C;

    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding-top: -15px;
    transition-property: all;
}

.down-cv:hover {
    background-color: white;
    border: solid #FAD02C;
    transition: 0.5s ease;
    transform: scale(1.115);

}


.Hire-me:hover {
    background-color: #FAD02C;
    border: transparent;
    transition: 0.5s ease;
    transform: scale(1.115);

}

.ash-area {
    position: absolute;
    width: 1506px;
    height: 225px;
    background-color: #90ADC6;
    opacity: 25%;
    top: 856px;
    z-index: 1;
}

.topic-one {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 30px;
    color: black;
    top: 834px;
    left: 1023px;
}

.topic-two {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 62px;
    color: #333652;
    top: 831px;
    left: 1021px;
}

.view-detail {
    position: absolute;
    top: 1034px;
    left: 1377px;
    z-index: 3;
    width: 115px;
    height: 31px;
    background-color: transparent;
    border: solid #FAD02C;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: -6px;

    cursor: pointer;
    transition-property: all;
}

.view-detail:hover {
    background-color: #FAD02C;
    border: transparent;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.edu-img {
    position: absolute;
    width: 711px;
    height: 508px;
    top: 1078px;
    left: 824px;
    float: right;
}

.wrapper {
    width: 40%;
    min-width: 590px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 379px;
    top: 1114px;
}


.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;

    border: 1px solid #FF9F43;
    border-radius: 20px;


}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #FF9F43;


}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

#mhs {
    animation: mhs-fill 2s forwards;
}

@keyframes mhs-fill {
    100% {
        width: 75%;
    }
}

#devi-bar {
    animation: devi-fill 2s forwards;
}

@keyframes devi-fill {
    100% {
        width: 25%;
    }
}

#ijse-bar {
    animation: ijse-fill 2s forwards;
    float: bottom;
}

@keyframes ijse-fill {
    100% {
        width: 48%;
    }

}

#wgsl-bar {
    animation: wgsl-fill 2s forwards;
}

@keyframes wgsl-fill {
    100% {
        width: 40%;
    }
}

h4 {
    position: relative;
    top: 45px;
    left: 70px;
    font-weight: bold;
    font-size: 18px;
}

h3, h4 {
    font-family: 'Neuton', serif;
    font-weight: bold;
}


.serv-one {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 50px;
    color: #333652;
    top: 1513px;
    left: 81px
}

.serv-two {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 20px;
    color: #333652;
    top: 1603px;
    left: 79px;

}

.graphic {
    position: absolute;
    top: 1709px;
    left: 77px;
    height: 510px;
    width: 419px;
    background-color: #90ADC6;
    transition-property: all;
    transition: 0.25s ease;
}

.graphic:hover {
    -moz-box-shadow: 0 0 15px #333652;
    -webkit-box-shadow: 0 0 15px #333652;
    box-shadow: 0 0 15px #333652;
    cursor: pointer;
    transform: scale(1.115);

}

.developer {
    position: absolute;
    top: 1709px;
    left: 570px;
    height: 510px;
    width: 419px;
    background-color: #333652;
    transition-property: all;
    transition: 0.25s ease;
}

.developer:hover {
    -moz-box-shadow: 0 0 15px #333652;
    -webkit-box-shadow: 0 0 15px #333652;
    box-shadow: 0 0 15px #333652;
    cursor: pointer;
    transform: scale(1.115);


}

.poetess {
    position: absolute;
    top: 1709px;
    left: 1058px;
    height: 510px;
    width: 419px;
    background-color: #FAD02C;
    transition-property: all;
    transition: 0.25s ease;

}

.poetess:hover {
    -moz-box-shadow: 0 0 15px #333652;
    -webkit-box-shadow: 0 0 15px #333652;
    box-shadow: 0 0 15px #333652;
    cursor: pointer;
    transform: scale(1.115);

}

.graphic-png {
    position: absolute;
    top: 348px;
    left: 13px;
    width: 406px;
    height: 179px;

}

.developer-png {
    position: absolute;
    top: 229px;
    left: -3px;
    width: 421px;
    height: 305px;

}

.poetess-png {
    position: absolute;
    top: 157px;
    left: 5px;
    width: 411px;
    height: 392px;

}

.graphic > p {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    top: -28px;
    left: 20px;
}

.developer > p {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    top: -28px;
    left: 20px;
}

.poetess > p {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    top: -28px;
    left: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 148px;
    height: 36px;
    position: absolute;
    top: 28px;
    left: 11px;
}

.btn {
    width: 128px;
    height: 41px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    font-family: 'Neuton', serif;
    color: black;
    font-size: 18px;
    font-weight: 50;
}

.graphic-sec {
    position: absolute;
    top: 2163px;
    left: 580px;
}

.graphic-topic-one {
    position: relative;
    font-family: 'Neuton', serif;
    color: #455A64;
    font-size: 50px;
    font-weight: bold;
    top: 77px;
    left: 121px;
}

.graphic-topic-two {
    position: relative;
    font-family: 'Neuton', serif;
    color: #333652;
    font-size: 62px;
    font-weight: bold;
    padding-top: 10px;

}

.ps {
    position: absolute;
    height: 80px;
    width: 76px;
    left: 27px;
    top: 322px;
}

.ai {
    position: absolute;
    height: 69px;
    width: 109px;
    left: 164px;
    top: 326px;
}

.id {
    position: absolute;
    height: 72px;
    width: 70px;
    left: 346px;
}

.ps {

    transition: transform 250ms;
}

.ps:hover {
    transform: translateY(-10px);
}

.ai {
    transition: transform 250ms;
}

.ai:hover {
    transform: translateY(-10px);
}

.id {

    transition: transform 250ms;
}

.id:hover {
    transform: translateY(-10px);
}

.graphic-icon {
    position: absolute;
    top: 319px;
    left: 797px;
}

.fiverr {
    height: 64px;
    width: 64px;

    transition: transform 250ms;

}

.fiverr:hover {
    background: #FAD02C;
    box-shadow: 0 0 100px #FAD02C;
    border-radius: 80px;
    cursor: pointer;

    transform: translateY(-10px);
}

.link {
    position: relative;
    top: 2593px;
    left: 620px;
    color: black;
    text-decoration: none;
    z-index: 4;
    font-size: 20px;

    text-align: justify;
}

span:hover {
    color: #FAD02C;
    cursor: pointer;
}

.link-2 {
    position: relative;
    top: 2602px;
    left: 652px;
    color: black;
    text-decoration: none;
    z-index: 4;
    font-size: 20px;
    text-align: justify;
}

span:hover {
    color: #FAD02C;
    cursor: pointer;
}


.vr-1 {
    position: absolute;
    border-left: 1px solid black;
    height: 133px;
    top: 2327px;
    left: 1448px;
}

.vr-2 {
    position: absolute;
    border-left: 1px solid black;
    height: 133px;
    top: 2592px;
    left: 1448px;
}

.ash-sqr {
    position: absolute;
    height: 956px;
    width: 1427px;
    top: 2774px;
    left: 52px;
    background-color: #90ADC6;
    opacity: 60%;
}

.white-sqr {
    position: relative;
    height: 167px;
    width: 1432px;
    top: 132px;
    left: -1px;
    background-color: white;

}

.dev-tag-one {
    position: relative;
    top: 2651px;
    left: 72px;
    color: #455A64;
    font-family: 'Neuton', serif;
    font-size: 50px;
    font-weight: bold;
}

.dev-tag-two {
    position: relative;
    top: 2655px;
    left: 70px;
    color: #1A2E35;
    font-family: 'Neuton', serif;
    font-size: 50px;
    font-weight: bold;
    z-index: 6;
}

.side-tag {
    position: relative;
    top: 2677px;
    left: 1327px;
    color: #1A2E35;
    font-family: 'Neuton', serif;
    font-size: 35px;
    font-weight: bold;
    z-index: 6;
}

.tools {
    position: relative;
    z-index: 7;
    top: 2714px;
    left: 269px;
}

.arrow-right {
    position: relative;
    width: 82px;
    height: 82px;
    left: 49px;
    top: 2635px;
}

.arrow-left {
    position: relative;
    width: 82px;
    height: 82px;
    left: 1292px;
    top: 2635px;;

}

.nodejs:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.html:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.css:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.sql:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.hibernate:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.java:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.flutter:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.js:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.nodejs {
    height: 48px;
    width: 169px;
    padding-right: 30px;
    transition: transform 250ms;

}

.html {
    height: 66px;
    width: 66px;
    padding-right: 30px;
    transition: transform 250ms;


}

.css {
    height: 70px;
    width: 74px;
    padding-right: 30px;
    transition: transform 250ms;


}

.js {
    height: 66px;
    width: 66px;
    padding-right: 30px;
    transition: transform 250ms;


}

.hibernate {
    height: 79px;
    width: 79px;
    padding-right: 30px;
    transition: transform 250ms;


}

.sql {
    height: 89px;
    width: 133px;
    padding-right: 30px;
    transition: transform 250ms;


}

.java {
    height: 82px;
    width: 82px;
    padding-right: 30px;
    transition: transform 250ms;


}

.flutter {
    height: 48px;
    width: 42px;
    padding-right: 30px;
    transition: transform 250ms;


}
.arrow-left{
    transition-property: all;
}

.arrow-left:hover{
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.arrow-right:hover{
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.project-tag{
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 35px;
    color: #1A2E35;
    z-index: 8;
    top: 3043px;
    left: 80px;
}

.pro-pic{
    cursor: pointer;

}

.my-pro{
    position: relative;
    width: 364px;
    height: 312px;
    top: 2095px;
    left: 372px;
    z-index: 2;

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.blue-ocean{
    position: relative;
    width: 341px;
    height: 295px;
    top: 2390px;
    left: -528px;
    z-index: 1;

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}


.final {
    position: relative;
    width: 559px;
    height: 395px;
    top: 2759px;
    left: -187px;
    z-index: 3;

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);

}

.final:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);

}


.blue-ocean:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.my-pro:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.sip {
    position: relative;
    width: 167px;
    height: 139px;
    top: 1851px;
    left: 735px;
    z-index: 1;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
.sip:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}






