
.logo {
    position: absolute;
    width: 91px;
    height: 93px;
    top: 10px;
    float: left;
}

.logo-name {
    position: absolute;
    left: 126px;
    top: -11px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #333652;
}

.tag {
    position: absolute;
    left: -1px;
    top: 43px;
    font-size: 25px;
    font-weight: normal;
    color: #90ADC6;

}

.home > nav {
    position: absolute;
    left: 78%;
}

.home > nav > p {
    float: left;
    margin-left: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Neuton', serif;
    font-size: 23px;
}

.home > nav > p:hover {
    cursor: pointer;
    font-weight: bold;
    color: #90ADC6;
    text-decoration: underline #FAD02C solid;
}

.box:hover {
    background-color: #333652;
    width: 125px;
    height: 35px;
    text-align: center;
}

.dark {
    position: absolute;
    top: 76px;
    left: 93.3%;
}

.dark-icon {
    position: absolute;
    top: 10px;
    left: 3%;
    width: 26px;
    height: 29px;
    cursor: pointer;
}

.png-bg {
    position: absolute;
    width: 918px;
    height: 1034px;
    top: 4px;
    z-index: 1;
}

.Name-set {
    position: absolute;
    top: 182px;
    left: 409px;
    z-index: 2;

}

.Name {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 60px;

}

.tag-line {
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 39px;
    top: -67px;
    left: 169px;

}

.pro-pic {
    position: absolute;
    z-index: 3;
    width: 262px;
    height: 260px;
    top: 387px;
    left: 578px;
}

.sqr-one {
    position: absolute;
    width: 268px;
    height: 270px;
    background-color: #90ADC6;
    border-radius: 42px;
    top: 378px;
    left: 568px;
    z-index: 2;

    transition-property: all;
    transition: 0.5s ease;

}

.sqr-one:hover {
    background-color: #FAD02C;

}

.sqr-two:hover {
    background-color: #90ADC6;
}

.sqr-two {
    position: absolute;
    width: 256px;
    height: 262px;
    background-color: #FAD02C;
    border-radius: 42px;
    top: 394px;
    left: 594px;
    z-index: 2;
    transition: 0.5s ease;

}

.para {
    position: absolute;
    color: #565C62;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 30px;
    width: 698px;
    height: 84px;
    top: 647px;
    left: 390px;
    text-align: -webkit-center;
    z-index: 2;
}

.arr {
    position: absolute;
    width: 115px;
    height: 114px;
    background-color: #FFECA0;
    top: 462px;
    left: 1322px;
    border-radius: 65px;
    opacity: 80%;
    cursor: pointer;

}

.arr:hover {
    opacity: 100%;
}

.arr-png {
    position: absolute;
    width: 73px;
    height: 42px;
    top: 36px;
    left: 17px;
}


.down-cv {
    position: absolute;
    top: 790px;
    left: 402px;
    z-index: 3;
    width: 148px;
    height: 35px;
    background-color: #FAD02C;
    border: transparent;


    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding-top: -21px;

    transition-property: all;
}

.Hire {
    position: absolute;
    top: 789px;
    left: 580px;
    z-index: 3;
    width: 148px;
    height: 35px;
    background-color: white;
    border: solid #FAD02C;

    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 20px;
    transition-property: all;
}

.down-cv:hover {
    background-color: white;
    border: solid #FAD02C;
    transition: 0.5s ease;
    transform: scale(1.115);

}


.Hire:hover {
    cursor: pointer;
    background-color: #FAD02C;
    border: transparent;
    transition: 0.5s ease;
    transform: scale(1.115);
}


.ash-area {
    position: absolute;
    width: 1506px;
    height: 225px;
    background-color: #90ADC6;
    opacity: 25%;
    top: 856px;
    z-index: 1;
}

.topic-one {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 30px;
    color: black;
    top: 834px;
    left: 1023px;
}

.topic-two {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 62px;
    color: #333652;
    top: 831px;
    left: 1021px;
}

.view-detail {
    position: absolute;
    top: 1034px;
    left: 1377px;
    z-index: 3;
    width: 115px;
    height: 31px;
    background-color: transparent;
    border: solid #FAD02C;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 20px;
    padding-top: -6px;

    cursor: pointer;
    transition-property: all;
}

.view-detail:hover {
    background-color: #FAD02C;
    border: transparent;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.edu-img {
    position: absolute;
    width: 711px;
    height: 508px;
    top: 1078px;
    left: 824px;
    float: right;
}

.wrapper {
    width: 40%;
    min-width: 590px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 379px;
    top: 1114px;
}


.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;

    border: 1px solid #FF9F43;
    border-radius: 20px;


}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #FF9F43;


}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

#mhs {
    animation: mhs-fill 2s forwards;
}

@keyframes mhs-fill {
    100% {
        width: 75%;
    }
}

#devi-bar {
    animation: devi-fill 2s forwards;
}

@keyframes devi-fill {
    100% {
        width: 25%;
    }
}

#ijse-bar {
    animation: ijse-fill 2s forwards;
    float: bottom;
}

@keyframes ijse-fill {
    100% {
        width: 48%;
    }

}

#wgsl-bar {
    animation: wgsl-fill 2s forwards;
}

@keyframes wgsl-fill {
    100% {
        width: 40%;
    }
}

h4 {
    position: relative;
    top: 45px;
    left: 70px;
    font-weight: bold;
    font-size: 18px;
}

h3, h4 {
    font-family: 'Neuton', serif;
    font-weight: bold;
}


.serv-one {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 50px;
    color: #333652;
    top: 1513px;
    left: 81px
}

.serv-two {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: normal;
    font-size: 20px;
    color: #333652;
    top: 1603px;
    left: 79px;

}

.graphic {
    position: absolute;
    top: 1709px;
    left: 77px;
    height: 510px;
    width: 419px;
    background-color: #90ADC6;
    transition-property: all;
    transition: 0.25s ease;
}

.graphic:hover {
    -moz-box-shadow: 0 0 15px #333652;
    -webkit-box-shadow: 0 0 15px #333652;
    box-shadow: 0 0 15px #333652;
    cursor: pointer;
    transform: scale(1.115);

}

.developer {
    position: absolute;
    top: 1709px;
    left: 570px;
    height: 510px;
    width: 419px;
    background-color: #333652;
    transition-property: all;
    transition: 0.25s ease;
}

.developer:hover {
    -moz-box-shadow: 0 0 15px #333652;
    -webkit-box-shadow: 0 0 15px #333652;
    box-shadow: 0 0 15px #333652;
    cursor: pointer;
    transform: scale(1.115);


}

.poetess {
    position: absolute;
    top: 1709px;
    left: 1058px;
    height: 510px;
    width: 419px;
    background-color: #FAD02C;
    transition-property: all;
    transition: 0.25s ease;

}

.poetess:hover {
    -moz-box-shadow: 0 0 15px #333652;
    -webkit-box-shadow: 0 0 15px #333652;
    box-shadow: 0 0 15px #333652;
    cursor: pointer;
    transform: scale(1.115);

}

.graphic-png {
    position: absolute;
    top: 348px;
    left: 13px;
    width: 406px;
    height: 179px;

}

.developer-png {
    position: absolute;
    top: 229px;
    left: -3px;
    width: 421px;
    height: 305px;

}

.poetess-png {
    position: absolute;
    top: 157px;
    left: 5px;
    width: 411px;
    height: 392px;

}

.graphic > p {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    top: -28px;
    left: 20px;
}

.developer > p {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    top: -28px;
    left: 20px;
}

.poetess > p {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
    top: -28px;
    left: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');


.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 148px;
    height: 36px;
    position: absolute;
    top: 28px;
    left: 11px;
}

.btn {
    width: 128px;
    height: 41px;
    cursor: pointer;
    background: transparent;
    border: 1px solid black;
    outline: none;
    transition: 1s ease-in-out;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    font-family: 'Neuton', serif;
    color: black;
    font-size: 18px;
    font-weight: 50;
}

.graphic-sec {
    position: absolute;
    top: 2163px;
    left: 580px;
}

.graphic-topic-one {
    position: relative;
    font-family: 'Neuton', serif;
    color: #455A64;
    font-size: 50px;
    font-weight: bold;
    top: 77px;
    left: 121px;
}

.graphic-topic-two {
    position: relative;
    font-family: 'Neuton', serif;
    color: #333652;
    font-size: 62px;
    font-weight: bold;
    padding-top: 10px;

}

.ps {
    position: absolute;
    height: 80px;
    width: 76px;
    left: 27px;
    top: 322px;
}

.ai {
    position: absolute;
    height: 69px;
    width: 109px;
    left: 164px;
    top: 326px;
}

.id {
    position: absolute;
    height: 72px;
    width: 70px;
    left: 346px;
}

.ps {

    transition: transform 250ms;
}

.ps:hover {
    transform: translateY(-10px);
}

.ai {
    transition: transform 250ms;
}

.ai:hover {
    transform: translateY(-10px);
}

.id {

    transition: transform 250ms;
}

.id:hover {
    transform: translateY(-10px);
}

.graphic-icon {
    position: absolute;
    top: 319px;
    left: 797px;
}

.fiverr {
    height: 64px;
    width: 64px;

    transition: transform 250ms;

}

.fiverr:hover {
    background: #FAD02C;
    box-shadow: 0 0 100px #FAD02C;
    border-radius: 80px;
    cursor: pointer;

    transform: translateY(-10px);
}

.link {
    position: relative;
    top: 2593px;
    left: 620px;
    color: black;
    text-decoration: none;
    z-index: 4;
    font-size: 20px;

    text-align: justify;
}

span:hover {
    color: #FAD02C;
    cursor: pointer;
}

.link-2 {
    position: relative;
    top: 2602px;
    left: 652px;
    color: black;
    text-decoration: none;
    z-index: 4;
    font-size: 20px;
    text-align: justify;
}

span:hover {
    color: #FAD02C;
    cursor: pointer;
}


.vr-1 {
    position: absolute;
    border-left: 1px solid black;
    height: 133px;
    top: 2327px;
    left: 1448px;
}

.vr-2 {
    position: absolute;
    border-left: 1px solid black;
    height: 133px;
    top: 2592px;
    left: 1448px;
}

.ash-sqr {
    position: absolute;
    height: 821px;
    width: 1427px;
    top: 2774px;
    left: 52px;
    background-color: #90ADC6;
    opacity: 60%;
}

.white-sqr {
    position: relative;
    height: 167px;
    width: 1432px;
    top: 132px;
    left: -1px;
    background-color: white;

}

.dev-tag-one {
    position: relative;
    top: 2651px;
    left: 72px;
    color: #455A64;
    font-family: 'Neuton', serif;
    font-size: 50px;
    font-weight: bold;
}

.dev-tag-two {
    position: relative;
    top: 2655px;
    left: 70px;
    color: #1A2E35;
    font-family: 'Neuton', serif;
    font-size: 50px;
    font-weight: bold;
    z-index: 6;
}

.side-tag {
    position: relative;
    top: 2677px;
    left: 1327px;
    color: #1A2E35;
    font-family: 'Neuton', serif;
    font-size: 35px;
    font-weight: bold;
    z-index: 6;
}

.tools {
    position: relative;
    z-index: 7;
    top: 2714px;
    left: 269px;
}


.nodejs:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.html:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.css:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.sql:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.hibernate:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.java:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.flutter:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.js:hover {
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);

}

.nodejs {
    height: 48px;
    width: 169px;
    padding-right: 30px;
    transition: transform 250ms;

}

.html {
    height: 66px;
    width: 66px;
    padding-right: 30px;
    transition: transform 250ms;


}

.css {
    height: 70px;
    width: 74px;
    padding-right: 30px;
    transition: transform 250ms;


}

.js {
    height: 66px;
    width: 66px;
    padding-right: 30px;
    transition: transform 250ms;


}

.hibernate {
    height: 79px;
    width: 79px;
    padding-right: 30px;
    transition: transform 250ms;


}

.sql {
    height: 89px;
    width: 133px;
    padding-right: 30px;
    transition: transform 250ms;


}

.java {
    height: 82px;
    width: 82px;
    padding-right: 30px;
    transition: transform 250ms;


}

.flutter {
    height: 48px;
    width: 42px;
    padding-right: 30px;
    transition: transform 250ms;


}

.arrow-right {
    position: relative;
    width: 82px;
    height: 82px;
    left: 49px;
    top: 2637px;
}


.arrow-left {

    transition-property: all;
    position: relative;
    width: 82px;
    height: 82px;
    left: 1279px;
    top: 2635px;
}

.arrow-left:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.arrow-right:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.project-tag {
    position: absolute;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 35px;
    color: #1A2E35;
    z-index: 8;
    top: 3043px;
    left: 80px;
}

.pro-pic {
    cursor: pointer;

}

.my-pro {
    position: relative;
    width: 364px;
    height: 312px;
    top: 2095px;
    left: 372px;
    z-index: 2;

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

.blue-ocean {
    position: relative;
    width: 341px;
    height: 295px;
    top: 2390px;
    left: -528px;
    z-index: 1;

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}


.final {
    position: relative;
    width: 559px;
    height: 395px;
    top: 2759px;
    left: -187px;
    z-index: 3;

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);

}

.final:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);

    border: 1.5px solid #1A2E35;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;


}


.blue-ocean:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);

    border: 1.5px solid #1A2E35;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;

}

.my-pro:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);

    border: 1.5px solid #1A2E35;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;

}

.sip {
    position: relative;
    width: 167px;
    height: 139px;
    top: 1851px;
    left: 735px;
    z-index: 1;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);

    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    border: 1.5px solid #1A2E35;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;

}

.sip:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    border: 1.5px solid #1A2E35;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;

}

.serv-dev {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    top: 3164px;
    left: 76px;
    font-family: 'Neuton', serif;

}


.se {
    position: relative;
    height: 68px;
    margin: auto;
    width: 76px;
    top: 3298px;
    left: 339px;
    transition: transform 250ms;
}

.web {
    position: relative;
    height: 80px;
    width: 134px;
    top: 3157px;
    left: 480px;
    transition: transform 250ms;

}

.ui-ux {
    position: relative;
    height: 85px;
    width: 163px;
    top: 3070px;
    left: 642px;
    transition: transform 250ms;
}

.db {
    position: relative;
    height: 73px;
    width: 74px;
    top: 2985px;
    left: 844px;
    transition: transform 250ms;

}


.serv-pic {
    position: relative;
    top: -105px;
    left: 119px;
    transition: transform 250ms;

}

.se:hover, .web:hover, .ui-ux:hover, .db:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 8px 6px -6px #1A2E35;
    -moz-box-shadow: 0 8px 6px -6px #1A2E35;
    box-shadow: 0 8px 6px -6px #1A2E35;
    transform: translateY(-10px);


}

.arr-two {
    position: absolute;
}

.arrow-left-two {
    transition-property: all;
    position: relative;
    width: 82px;
    height: 82px;
    left: 1291px;
    top: 2829px;

}

.arrow-left-two:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.arrow-right-two:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.115);
}

.arrow-right-two {
    position: relative;
    width: 82px;
    height: 82px;
    left: 49px;
    top: 2818px;
}

.link-portfolio > a {
    position: relative;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
    text-decoration: none;
    top: 2968px;
    left: 1077px;
}

.se-tag p {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Neuton', serif;
    color: #455A64;
    top: 3290px;
    left: 309px;
}

.web-tag p {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Neuton', serif;
    color: #455A64;
    top: 3363px;
    left: 487px;
}

.Ui-ux-tag p {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Neuton', serif;
    color: #455A64;
    top: 3363px;
    left: 673px;
}

.db-tag p {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Neuton', serif;
    color: #455A64;
    top: 3363px;
    left: 821px;

}

.se-tag:hover, .web-tag:hover, .Ui-ux-tag:hover, .db-tag:hover {
    cursor: pointer;
    text-shadow: 2px 2px 10px #4F95DA;

    filter: dropshadow(color=#4F95DA, offx=2, offy=2);
}

.poetess-ash-sqr {
    position: relative;
    height: 123px;
    width: 1427px;
    top: 2997px;
    left: 37px;
    background-color: #90ADC6;
}

.poetess-tag-one {
    position: relative;
    float: left;
    font-family: 'Neuton', serif;
    font-weight: bold;
    color: #1A2E35;
    font-size: 50px;
    top: 2840px;
    left: 70px;
}

.poetess-tag-one > p > span {
    font-size: 62px;
    color: white;
}

.poetess-tag-two, .poetess-tag-three {
    position: relative;
    top: 3000px;
    left: 786px;
}

.poetess-tag-two {
    position: relative;
    left: 770px;
    font-size: 50px;
    font-family: 'Neuton', serif;
    font-weight: bold;
    color: black;
    top: 2946px;
}

.poetess-tag-three {
    position: relative;
    left: 771px;
    font-size: 19px;
    font-family: 'Neuton', serif;
    font-weight: bold;
    color: #455A64;
    top: 2901px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #565C62;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #565C62;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #565C62;
    background: #565C62;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search {
    width: 30%;
    position: absolute;
    top: 4120px;
    left: 316px;
    transform: translate(-50%, -50%);
}

.search:hover {
    cursor: text;
}

.topic-list > ui > li {
    position: relative;
    top: 2930px;
    left: 83px;

    color: #1A2E35;
    font-weight: bold;
    font-family: 'Neuton', serif;
    font-size: 20px;
}

.topic-list > ui > li:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 354px;
    border-bottom: 1px solid;
    margin-top: 10px;
    top: -3px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.topic-list > ui > li:hover:after {
    cursor: pointer;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.see-more > p {
    position: relative;
    top: 2964px;
    left: 82px;
    color: #455A64;
    font-weight: bold;
    font-family: 'Neuton', serif;
    font-size: 20px;


}

.see-more > p:hover {
    cursor: pointer;
    text-shadow: 2px 2px 10px #FAD02C;

    filter: dropshadow(color=#FAD02C, offx=2, offy=2);

}

.poet-pic > img {
    position: relative;
    height: 683px;
    width: 777px;
    top: 2713px;
    left: 730px;
}

.poet-sqr-one {
    position: relative;
    width: 187px;
    height: 161px;
    background-color: white;
    border: 1px solid #E0E0E0;
    top: 2326px;
    left: 72px;
    transition-property: all;


}

.poet-sqr-two {
    position: relative;
    width: 187px;
    height: 161px;
    background-color: white;
    border: 1px solid #E0E0E0;
    top: 2360px;
    left: 72px;
    transition-property: all;


}

.poet-sqr-three {
    position: relative;
    width: 187px;
    height: 161px;
    background-color: white;
    border: 1px solid #E0E0E0;
    top: 2000px;
    left: 297px;
    transition-property: all;

}

.poet-sqr-three:hover, .poet-sqr-two:hover, .poet-sqr-one:hover {
    cursor: pointer;
    border: 1.5px solid #FAD02C;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    transition: 0.5s ease;


}

.news {
    position: relative;
    top: 1852px;
    left: 106px;
    width: 130px;
    height: 104px;
}

.trans {
    position: relative;
    top: 1849px;
    left: 205px;
    width: 101px;
    height: 96px;
}

.recent {
    position: relative;
    top: 2046px;
    left: -121px;
    width: 101px;
    height: 96px;
}

.news-txt {
    position: relative;
    top: 1843px;
    left: 103px;
    color: #1A2E35;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 18px;

}

.trans-txt {
    position: relative;
    top: 1803px;
    left: 330px;
    color: #1A2E35;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 18px;

}

.recent-txt {
    position: relative;
    top: 1953px;
    left: 113px;
    color: #1A2E35;
    font-family: 'Neuton', serif;
    font-weight: bold;
    font-size: 18px;

}

.hire-me-sqr {
    position: relative;
    width: 1427px;
    height: 844px;
    background-color: #90ADC6;
    left: 44px;
    top: 1992px;
}

.hire-me-topic {
    position: relative;
    top: 1093px;
    left: 71px;
    font-family: 'Neuton', serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.hire-me-topic > span {
    color: #1A2E35;
}

.my-detail > li {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Neuton', serif;
    /*top: 978px;
    left: 37px;

     */
    float: left;
}

.my-detail > li > span {
    color: white;
}

.f-name {

    top: 1062px;
    left: 40px;
}


.l-name {
    top: 1065px;
    left: 165px;
}

.age {
    top: 1135px;
    left: -806px;
}

.nation {
    top: 1146px;
    left: -270px;
}

.phone {
    top: 1172px;
    left: 41px;
}

.mail {
    top: 1171px;
    left: 398px;

}

.d-sqr-1 {
    position: absolute;
    width: 177px;
    height: 161px;
    top: 5288px;
    left: 83px;

    background-color: #90ADC6;
    box-shadow: 4px 6px 5px #565C62;
    transition-property: all;
}

.d-sqr-2 {
    position: absolute;
    width: 177px;
    height: 161px;
    top: 5288px;
    left: 479px;

    background-color: #90ADC6;
    box-shadow: 4px 6px 5px #565C62;
    transition-property: all;

}

.d-sqr-3 {
    position: absolute;
    width: 177px;
    height: 161px;
    top: 5288px;
    left: 860px;

    background-color: #90ADC6;
    box-shadow: 4px 6px 5px #565C62;
    transition-property: all;

}

.d-sqr-4 {
    position: absolute;
    width: 177px;
    height: 161px;
    top: 5544px;
    left: 860px;

    background-color: #90ADC6;
    box-shadow: 4px 6px 5px #565C62;
    transition-property: all;

}

.d-sqr-5 {
    position: absolute;
    width: 177px;
    height: 161px;
    top: 5544px;
    left: 481px;

    background-color: #90ADC6;
    box-shadow: 4px 6px 5px #565C62;
    transition-property: all;

}

.d-sqr-6 {
    position: absolute;
    width: 177px;
    height: 161px;
    top: 5544px;
    left: 88px;

    background-color: #90ADC6;
    box-shadow: 4px 6px 5px #565C62;
    transition-property: all;

}

.d-sqr-1:hover {
    cursor: pointer;
    transition: 1s ease;
    transform: scale(1.115);
}

.d-sqr-2:hover {
    cursor: pointer;
    transition: 1s ease;
    transform: scale(1.115);
}

.d-sqr-3:hover {
    cursor: pointer;
    transition: 1s ease;
    transform: scale(1.115);
}

.d-sqr-4:hover {
    cursor: pointer;
    transition: 1s ease;
    transform: scale(1.115);
}

.d-sqr-5:hover {
    cursor: pointer;
    transition: 1s ease;
    transform: scale(1.115);
}

.d-sqr-6:hover {
    cursor: pointer;
    transition: 1s ease;
    transform: scale(1.115);
}

.ex-GD {
    position: relative;
    top: 1110px;
    left: 88px;
    font-family: 'Neuton', serif;
    font-size: 18px;
    color: #FEE16E;
}

.ex-poetry {
    position: relative;
    top: 935px;
    left: 490px;
    font-family: 'Neuton', serif;
    font-size: 18px;
    color: white;
}

.ex-developing {
    position: relative;
    top: 760px;
    left: 871px;
    font-family: 'Neuton', serif;
    font-size: 18px;
    color: black;

}

.pro-works {
    position: relative;
    top: 841px;
    left: 88px;
    font-family: 'Neuton', serif;
    font-size: 18px;
    color: #FEE16E;
}

.pro-works-2 {
    position: relative;
    top: 670px;
    left: 490px;
    font-family: 'Neuton', serif;
    font-size: 18px;
    color: white;

}

.pro-projects {
    position: relative;
    top: 492px;
    left: 871px;
    font-family: 'Neuton', serif;
    font-size: 18px;
    color: black;
}

.ex-tags {
    position: relative;
    top: 111px;
    font-weight: lighter;
}














